.dropbox
HeartRate/HeartRate.xcodeproj/xcuserdata/Rutger.xcuserdatad
WearWare.xcworkspace/xcshareddata
WearWare.xcworkspace/xcuserdata
WearWareFramework/WearWareFramework.xcodeproj/xcuserdata/Rutger.xcuserdatad
WearWareiOSTest/WearWareiOSTest.xcodeproj/xcuserdata/Rutger.xcuserdatad
wham.Run/wham.Run.xcodeproj/xcuserdata
