<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WearWareFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C1970051A4B65C300753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1970101A4B65C300753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1970531A4B69A700753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C19705D1A4B69A700753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1970891A4B6CFC00753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1970931A4B6CFC00753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1970AE1A4B722F00753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1970B81A4B722F00753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1970E31A4B749800753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1970ED1A4B749800753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C19710C1A4B75EA00753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C1971961A4B83CF00753551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
